
<div class="div-form-evento">
    <form class="form-evento" method="post" asp-controller="Evento" asp-action="GravarImagem" enctype="multipart/form-data">
        <input name="idEvento" type="text" value="@Model.IdEvento" hidden />
        <div class="mb-3">
            <label for="file" class="form-label">Selecione uma imagem para o evento...</label>
            <input class="form-control-file" type="file" id="file" name="file">
        </div>
        <input class="botao-evento" type="submit" value="Gravar" />
    </form>
</div>
