
@{
    Layout = null;
}

<!DOCTYPE html>
@model List<EventoModel>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var evento in Model)
    {
        <div>
            <p>@evento.Nome</p>
            <p>@evento.Cidade - @evento.Estado</p>
        </div>
    }

</body>
</html>
