@{
    ViewData["Title"] = "Get Together";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p>Sobre nós: </p> 
    <p>
        Surgimos devido a preocupação com os cuidados na realização de eventos pós pandemia. <br />
        Visando o coletivo tomamos os cuidados necessários para que os eventos aqui divulgados atendam as recomendações da OMS.
    </p>
</div>
