#navbar-gettogether {
    background-color: #60dce4;
}

.form-evento {
    text-align: center;
}

.linha:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.card {
    float: left;
    margin: 4%;
    width: 25%;
}

.icone {
    height: 1em;
}

.filtro-evento-div {
    float: left;
    vertical-align: middle;
    width: 15%;
    margin-left: 1%;
}


.filtro-evento-label {
    display: block;
}

.filtro-evento-input {
    height: 2em;
    width: 100%;
    background-color: #60dce4;
    border-radius: 5px;
}

.filtro-evento-pesquisar {
    margin-top: 2rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-conteudo {
    width: 90%;
    position: absolute;
    bottom: 0;
    margin: 5%;
}

    .card-conteudo img {
        width: 90%;
        margin: auto;
    }

.botao-logo {
    padding-right: 1rem;
    font-family: 'Titan One';
    border-right: 2px solid white;
}

.texto-organizador {
    color: white;
}

.form-organizador {
    margin-top: 10%;
}

    .form-organizador * {
        width: 65%;
        display: inline-block;
        text-align: center;
    }

    .form-organizador input[type=submit] {
        width: 40%;
        background-color: #470841;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .form-organizador input[type=submit]:hover {
            background-color: #112b42;
        }

.form-item {
    margin-bottom: 3rem;
}

