@{
    Layout = "../Shared/_Layout-Organizador.cshtml";
}
<main>
    <form class="form-organizador" asp-controller="Organizador" asp-action="Entrar">
        <div class="form-item">
            <label class="texto-organizador" style="font-size:2rem">Código Inválido</label>
        </div>
        <div class="form-item form-organizador-botao">
            <input class="texto-organizador botao-organizador" type="submit" value="OK" />
        </div>
    </form>
</main>

