
<form asp-controller="Organizador" asp-action="Autenticar">
    <label>Informe o código de organizador: </label>
    <input type="password" name="codigo" />

    <input type="submit" value="Entrar" />
</form>
